body {
    background-image: url('../svg/sssurf.svg');
    /* Repetir el fondo en todas las direcciones */
    background-repeat: repeat;
    /* Centrar el fondo en el área del cuerpo */
    background-position: center;
    /* Escalar el fondo para que cubra todo el cuerpo */
    background-size: cover;
}
.py-5{
    opacity: 0.6;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.title {
    color: #007bff;
    text-align: center;
    margin-bottom: 30px;
}
.form-control {
    border-radius: 5px;
}
.btn-whatsapp {
    background-color: #25D366;
    border: none;
}
.btn-whatsapp:hover {
    background-color: #128C7E;
}
.btn-facebook {
    background-color: #3b5998;
    border: none;
}
.btn-facebook:hover {
    background-color: #2d4373;
}
.btn-instagram {
    background-color: #E4405F;
    border: none;
}
.btn-instagram:hover {
    background-color: #C13584;
}
/* Estilos para el menú hamburguesa */
.menu-icon {
    display: none;
}
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .menu {
        display: none;
    }
    .menu.open {
        display: block;
    }
}
.navbar-nav .nav-item:last-child a::before {
    content: "";
    display: inline-block;
    width: 16px; /* Ajusta el tamaño del icono según sea necesario */
    height: 16px; /* Ajusta el tamaño del icono según sea necesario */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16"><path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px; /* Espacio entre el icono y el texto del enlace */
    vertical-align: middle; /* Alinea verticalmente el icono con el texto */
}
